# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
venv/
dist/
build/

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Logs
*.log

# Misc
*.tmp
